<nav>
  <div class="nav-container">
    <a href="http://localhost:5000/"><img class="store-logo" src="static/doko-logo.jpg" /></a>
    <div>
      Filter By:
      <select name="categories">
        <option value="men's clothing">Men's Clothing</option>
        <option value="jewelery">Jewelery</option>
        <option value="electronics">Electronics</option>
        <option value="women's clothing">Women's Clothing</option>
      </select>
    </div>
    <div>
      Sorted By:
      <select name="sort-list">
        <option value="men's clothing">Featured</option>
        <option value="jewelery">Best Selling</option>
        <option value="women's clothing">Alphabetically,A-Z</option>
        <option value="women's clothing">Alphabetically,Z-A</option>
        <option value="electronics">Price,low to high</option>
        <option value="women's clothing">Price,high to low</option>
        <option value="electronics">Date,new to old</option>
        <option value="women's clothing">Date,old to new</option>
      </select>
    </div>
  </div>
</nav>